<app-masterheader></app-masterheader>

<div class="wrapper">

	<!-- <app-sidebar></app-sidebar> -->

	<div id="content">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<a href="javascript:void(0)">
								<div class="card infomatics infomatics-secondary">
									<div class="card-body p-0">
										<div class="row">
											<div class="col text-left">
												<h2 class="mb-2 number-font">14</h2>
												<h5 class="">District</h5>
											</div>
											<div class="col">
												<img src="assets/images/info-district.png" class="img-fluid" alt="image">
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)">
								<div class="card infomatics infomatics-primary">
									<div class="card-body p-0">
										<div class="row">
											<div class="col text-left">
												<h2 class="mb-2 number-font">sdsd</h2>
												<h5 class="">Total Point Assigned</h5>
											</div>
											<div class="col">
												<img src="assets/images/info-assigned.png" class="img-fluid" alt="image">
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)">
								<div class="card infomatics infomatics-warning">
									<div class="card-body p-0">
										<div class="row">
											<div class="col text-left">
												<h2 class="mb-2 number-font">zzxzx</h2>
												<h5 class="">Total Point Pending</h5>
											</div>
											<div class="col">
												<img src="assets/images/info-pending.png" class="img-fluid" alt="image">
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)">
								<div class="card infomatics infomatics-success">
									<div class="card-body p-0">
										<div class="row">
											<div class="col text-left">
												<h2 class="mb-2 number-font">cxcc</h2>
												<h5 class="">Total Point Completed</h5>
											</div>
											<div class="col">
												<img src="assets/images/info-completed.png" class="img-fluid" alt="image">
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="card" id="div_a">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-sm table-striped mb-0">
									<thead>
										<tr>
											<th width="8%">Sl. No.</th>
											<th>District</th>
											<th class="text-right">Total Points</th>
											<th class="text-right">Pending Points</th>
											<th class="text-right">Completed Points</th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Angul</td>
											<td class="text-right">52</td>
											<td class="text-right">47</td>
											<td class="text-right">5</td>
											<td class="text-right">
												<button data-toggle-second="tooltip" title="View Tehsil" class="btn btn-sm btn-indigo btn-icon btn-radius"><i class="fa fa-eye"></i></button>
											</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Balasore</td>
											<td class="text-right">24</td>
											<td class="text-right">14</td>
											<td class="text-right">10</td>
											<td class="text-right">
												<button data-toggle-second="tooltip" title="View Tehsil" class="btn btn-sm btn-indigo btn-icon btn-radius"><i class="fa fa-eye"></i></button>
											</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Bolangir</td>
											<td class="text-right">60</td>
											<td class="text-right">30</td>
											<td class="text-right">30</td>
											<td class="text-right">
												<button data-toggle-second="tooltip" title="View Tehsil" class="btn btn-sm btn-indigo btn-icon btn-radius"><i class="fa fa-eye"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card" id="div_b">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-sm table-striped mb-0">
									<thead>
										<tr>
											<th width="8%">Sl. No.</th>
											<th>Tehsil</th>
											<th class="text-right">Total Points</th>
											<th class="text-right">Pending Points</th>
											<th class="text-right">Completed Points</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Banarpal</td>
											<td class="text-right">8</td>
											<td class="text-right">6</td>
											<td class="text-right">2</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Chhendipada</td>
											<td class="text-right">6</td>
											<td class="text-right">4</td>
											<td class="text-right">2</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Athamallik</td>
											<td class="text-right">11</td>
											<td class="text-right">8</td>
											<td class="text-right">3</td>
										</tr>
										<tr>
											<td>4</td>
											<td>Kishorenagar</td>
											<td class="text-right">4</td>
											<td class="text-right">3</td>
											<td class="text-right">1</td>
										</tr>
										<tr>
											<td>5</td>
											<td>Pallahara</td>
											<td class="text-right">15</td>
											<td class="text-right">5</td>
											<td class="text-right">10</td>
										</tr>
										<tr>
											<td>6</td>
											<td>Kaniha</td>
											<td class="text-right">7</td>
											<td class="text-right">2</td>
											<td class="text-right">5</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

				<!-- <div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-md-1 mt-2">
									<label>District :</label>
								</div>
								<div class="col-md-2">
									<select class="form-control" (change)="getDistCode($event)">
										<option selected="selected" value="0">-- Select District --</option>
										<option *ngFor="let item of allDist" [value]="item.distCode">
											{{item.distName}}</option>
									</select>
								</div>							
								<div class="col-md-1 mt-2">
									<label>Tehsil :</label>
								</div>
								<div class="col-md-2">
									<select class="form-control" (change)="getTehsilCode($event)">
										<option selected="selected" value="0">-- Select Tehsil --</option>
										<option *ngFor="let item of allThesilByDistId" [value]="item.tahCode">
											{{item.tahName}}</option>
									</select>
								</div>
							</div> -->
							<!-- <div class="row form-group">
								<div class="col-md-4 mt-2">
									<label>District :</label>
								</div>
								<div class="col-md-8">
									<select class="form-control" (change)="getDistCode($event)">
										<option selected="selected" value="0">-- Select District --</option>
										<option *ngFor="let item of allDist" [value]="item.distCode">{{item.distName}}</option>
									</select>
								</div>
							</div> -->
							<!-- <div class="table-responsive table-scroll"> -->
							<!-- <div class="table-responsive">
								<table class="table table-sm table-striped mb-0">
									<thead>
										<tr>
											<th>Sl. No.</th>
											<th>Point Id</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of PointDataByDistId;index as i">
											<td>{{i+1}}</td>
											<td>{{item.pointId}}</td>
											<td>{{item.status}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div> -->

			

		</div>

	</div>


	<!-- <div id="footer">
		<app-masterfooter></app-masterfooter>
	</div> -->

</div>
